# Titanic Problem

In [1]:
# Importing the libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [2]:
data_set= pd.read_csv(r"C:\Users\Ash\Desktop\Data Trained\Projects\Project 1- Titanic/train.csv")

In [3]:
data_set.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data_set

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
#check if there is any missing value
data_set.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
#Since feature cabin has more missig values, we can drop this feature
data_set = data_set.drop(['Cabin'], axis=1)

In [7]:
#Since feature Age has missig values, we can fill it with mean

data_set['Age'] = data_set['Age'].fillna((data_set['Age'].mean()))

In [8]:
data_set

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S
5,6,0,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.000000,0,0,248706,16.0000,S
16,17,0,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,29.699118,0,0,244373,13.0000,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.000000,1,0,345763,18.0000,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,29.699118,0,0,2649,7.2250,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.000000,0,0,239865,26.0000,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.000000,0,0,330923,8.0292,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.000000,3,1,349909,21.0750,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.000000,1,5,347077,31.3875,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,29.699118,0,0,2631,7.2250,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,29.699118,0,0,330959,7.8792,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,29.699118,0,0,349216,7.8958,S
...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.000000,1,0,28134,11.5000,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.000000,0,0,17466,25.9292,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.699118,8,2,CA. 2343,69.5500,S
864,865,0,2,"Gill, Mr. John William",male,24.000000,0,0,233866,13.0000,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.000000,0,0,236852,13.0000,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.000000,1,0,SC/PARIS 2149,13.8583,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.000000,0,0,PC 17590,50.4958,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,29.699118,0,0,345777,9.5000,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.000000,1,1,347742,11.1333,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.000000,0,0,349248,7.8958,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.000000,1,1,11751,52.5542,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.000000,0,0,695,5.0000,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.000000,0,0,345765,9.0000,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.000000,1,0,P/PP 3381,24.0000,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.000000,0,0,2667,7.2250,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.000000,0,0,7534,9.8458,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.000000,0,0,349212,7.8958,S
878,879,0,3,"Laleff, Mr. Kristo",male,29.699118,0,0,349217,7.8958,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.000000,0,1,11767,83.1583,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.000000,0,1,230433,26.0000,S
881,882,0,3,"Markun, Mr. Johann",male,33.000000,0,0,349257,7.8958,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.000000,0,0,7552,10.5167,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.000000,0,0,C.A./SOTON 34068,10.5000,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.000000,0,0,SOTON/OQ 392076,7.0500,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.000000,0,5,382652,29.1250,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,Q

In [9]:
# Convert the categorical values into numerical values and concatenate with the train set

data_set = pd.get_dummies(data_set, columns=['Sex', 'Embarked'])

In [10]:
data_set.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S'],
      dtype='object')

In [11]:
data_set.drop(['PassengerId','Name','Ticket'],axis=1, inplace=True)

In [12]:
#check the correlation between the features
data_set.corr()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
Survived,1.000000,-0.338481,-0.069809,-0.035322,0.081629,0.257307,0.543351,-0.543351,0.168240,0.003650,-0.155660
Pclass,-0.338481,1.000000,-0.331339,0.083081,0.018443,-0.549500,-0.131900,0.131900,-0.243292,0.221009,0.081720
Age,-0.069809,-0.331339,1.000000,-0.232625,-0.179191,0.091566,-0.084153,0.084153,0.032024,-0.013855,-0.027121
SibSp,-0.035322,0.083081,-0.232625,1.000000,0.414838,0.159651,0.114631,-0.114631,-0.059528,-0.026354,0.070941
Parch,0.081629,0.018443,-0.179191,0.414838,1.000000,0.216225,0.245489,-0.245489,-0.011069,-0.081228,0.063036
Fare,0.257307,-0.549500,0.091566,0.159651,0.216225,1.000000,0.182333,-0.182333,0.269335,-0.117216,-0.166603
Sex_female,0.543351,-0.131900,-0.084153,0.114631,0.245489,0.182333,1.000000,-1.000000,0.082853,0.074115,-0.125722
Sex_male,-0.543351,0.131900,0.084153,-0.114631,-0.245489,-0.182333,-1.000000,1.000000,-0.082853,-0.074115,0.125722
Embarked_C,0.168240,-0.243292,0.032024,-0.059528,-0.011069,0.269335,0.082853,-0.082853,1.000000,-0.148258,-0.778359
Embarked_Q,0.003650,0.221009,-0.013855,-0.026354,-0.081228,-0.117216,0.074115,-0.074115,-0.148258,1.000000,-0.496624
Embarked_S,-0.155660,0.081720,-0.027121,0.070941,0.063036,-0.166603,-0.125722,0.125722,-0.778359,-0.496624,1.000000

In [13]:
#segregate the independent and dependent variable

X = data_set.drop('Survived',axis =1)
y= data_set['Survived']

In [14]:
#Scaling the data

from sklearn.preprocessing import MinMaxScaler

scaler= MinMaxScaler()
X_scaled= scaler.fit_transform(X)

C:\Users\Ash\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [15]:
X=pd.DataFrame(X_scaled,columns=X.columns)
X

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1.0,0.271174,0.125,0.000000,0.014151,0.0,1.0,0.0,0.0,1.0
1,0.0,0.472229,0.125,0.000000,0.139136,1.0,0.0,1.0,0.0,0.0
2,1.0,0.321438,0.000,0.000000,0.015469,1.0,0.0,0.0,0.0,1.0
3,0.0,0.434531,0.125,0.000000,0.103644,1.0,0.0,0.0,0.0,1.0
4,1.0,0.434531,0.000,0.000000,0.015713,0.0,1.0,0.0,0.0,1.0
5,1.0,0.367921,0.000,0.000000,0.016510,0.0,1.0,0.0,1.0,0.0
6,0.0,0.673285,0.000,0.000000,0.101229,0.0,1.0,0.0,0.0,1.0
7,1.0,0.019854,0.375,0.166667,0.041136,0.0,1.0,0.0,0.0,1.0
8,1.0,0.334004,0.000,0.333333,0.021731,1.0,0.0,0.0,0.0,1.0
9,0.5,0.170646,0.125,0.000000,0.058694,1.0,0.0,1.0,0.0,0.0
10,1.0,0.044986,0.125,0.166667,0.032596,1.0,0.0,0.0,0.0,1.0
11,0.0,0.723549,0.000,0.000000,0.051822,1.0,0.0,0.0,0.0,1.0
12,1.0,0.246042,0.000,0.000000,0.015713,0.0,1.0,0.0,0.0,1.0
13,1.0,0.484795,0.125,0.833333,0.061045,0.0,1.0,0.0,0.0,1.0
14,1.0,0.170646,0.000,0.000000,0.015330,1.0,0.0,0.0,0.0,1.0
15,0.5,0.685851,0.000,0.000000,0.031230,1.0,0.0,0.0,0.0,1.0
16,1.0,0.019854,0.500,0.166667,0.056848,0.0,1.0,0.0,1.0,0.0
17,0.5,0.367921,0.000,0.000000,0.025374,0.0,1.0,0.0,0.0,1.0
18,1.0,0.384267,0.125,0.000000,0.035134,1.0,0.0,0.0,0.0,1.0
19,1.0,0.367921,0.000,0.000000,0.014102,1.0,0.0,1.0,0.0,0.0
20,0.5,0.434531,0.000,0.000000,0.050749,0.0,1.0,0.0,0.0,1.0
21,0.5,0.421965,0.000,0.000000,0.025374,0.0,1.0,0.0,0.0,1.0
22,1.0,0.183212,0.000,0.000000,0.015672,1.0,0.0,0.0,1.0,0.0
23,0.0,0.346569,0.000,0.000000,0.069291,0.0,1.0,0.0,0.0,1.0
24,1.0,0.095250,0.375,0.166667,0.041136,1.0,0.0,0.0,0.0,1.0
25,1.0,0.472229,0.125,0.833333,0.061264,1.0,0.0,0.0,0.0,1.0
26,1.0,0.367921,0.000,0.000000,0.014102,0.0,1.0,1.0,0.0,0.0
27,0.0,0.233476,0.375,0.333333,0.513342,0.0,1.0,0.0,0.0,1.0
28,1.0,0.367921,0.000,0.000000,0.015379,1.0,0.0,0.0,1.0,0.0
29,1.0,0.367921,0.000,0.000000,0.015412,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
861,0.5,0.258608,0.125,0.000000,0.022447,0.0,1.0,0.0,0.0,1.0
862,0.0,0.597889,0.000,0.000000,0.050610,1.0,0.0,0.0,0.0,1.0
863,1.0,0.367921,1.000,0.333333,0.135753,1.0,0.0,0.0,0.0,1.0
864,0.5,0.296306,0.000,0.000000,0.025374,0.0,1.0,0.0,0.0,1.0
865,0.5,0.522493,0.000,0.000000,0.025374,1.0,0.0,0.0,0.0,1.0
866,0.5,0.334004,0.125,0.000000,0.027050,1.0,0.0,1.0,0.0,0.0
867,0.0,0.384267,0.000,0.000000,0.098561,0.0,1.0,0.0,0.0,1.0
868,1.0,0.367921,0.000,0.000000,0.018543,0.0,1.0,0.0,0.0,1.0
869,1.0,0.044986,0.125,0.166667,0.021731,0.0,1.0,0.0,0.0,1.0
870,1.0,0.321438,0.000,0.000000,0.015412,0.0,1.0,0.0,0.0,1.0
871,0.0,0.585323,0.125,0.166667,0.102579,1.0,0.0,0.0,0.0,1.0
872,0.0,0.409399,0.000,0.000000,0.009759,0.0,1.0,0.0,0.0,1.0
873,1.0,0.585323,0.000,0.000000,0.017567,0.0,1.0,0.0,0.0,1.0
874,0.5,0.346569,0.125,0.000000,0.046845,1.0,0.0,1.0,0.0,0.0
875,1.0,0.183212,0.000,0.000000,0.014102,1.0,0.0,1.0,0.0,0.0
876,1.0,0.246042,0.000,0.000000,0.019218,0.0,1.0,0.0,0.0,1.0
877,1.0,0.233476,0.000,0.000000,0.015412,0.0,1.0,0.0,0.0,1.0
878,1.0,0.367921,0.000,0.000000,0.015412,0.0,1.0,0.0,0.0,1.0
879,0.0,0.698417,0.000,0.166667,0.162314,1.0,0.0,1.0,0.0,0.0
880,0.5,0.308872,0.000,0.166667,0.050749,1.0,0.0,0.0,0.0,1.0
881,1.0,0.409399,0.000,0.000000,0.015412,0.0,1.0,0.0,0.0,1.0
882,1.0,0.271174,0.000,0.000000,0.020527,1.0,0.0,0.0,0.0,1.0
883,0.5,0.346569,0.000,0.000000,0.020495,0.0,1.0,0.0,0.0,1.0
884,1.0,0.308872,0.000,0.000000,0.013761,0.0,1.0,0.0,0.0,1.0
885,1.0,0.484795,0.000,0.833333,0.056848,1.0,0.0,0.0,1.0,0.0
886,0.5,0.334004,0.000,0.000000,0.025374,0.0,1.0,0.0,0.0,1.0
887,0.0,0.233476,0.000,0.000000,0.058556,1.0,0.0,0.0,0.0,1.0
888,1.0,0.367921,0.125,0.333333,0.045771,1.0,0.0,0.0,0.0,1.0
889,0.0,0.321438,0.000,0.000000,0.058556,0.0,1.0,1.0,0.0,0.0
890,1.0,0.396833,0.000,0.000000,0.015127,0.0,1.0,0.0,1.0,0.0

In [16]:
#Splitting the train and test data set

from sklearn.model_selection import train_test_split

train_X,test_X,train_y,test_y= train_test_split(X,y,test_size=0.33,random_state=42,stratify=y)

## Implementing the Logistic Regression

In [17]:
# Implementing Logistic Regression

from sklearn.linear_model import LogisticRegression

logreg=LogisticRegression()
logreg.fit(train_X,train_y)

C:\Users\Ash\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [18]:
train_predict= logreg.predict(train_X)

In [19]:
# checking the F1 score and others on the training set

from sklearn.metrics import classification_report

print(classification_report(train_predict, train_y))

              precision    recall  f1-score   support

           0       0.86      0.82      0.84       381
           1       0.71      0.75      0.73       215

   micro avg       0.80      0.80      0.80       596
   macro avg       0.78      0.79      0.78       596
weighted avg       0.80      0.80      0.80       596

In [20]:
# creating the consfusion matrix on the train set

from sklearn.metrics import confusion_matrix

print(confusion_matrix(train_y,train_predict))

[[314  53]
 [ 67 162]]

In [21]:
from sklearn import metrics
print(metrics.accuracy_score(train_y, train_predict))

0.7986577181208053

In [22]:
#Predcitng the output on the test set

test_predict= logreg.predict(test_X)

print(classification_report(test_predict, test_y))

              precision    recall  f1-score   support

           0       0.87      0.82      0.84       192
           1       0.70      0.77      0.73       103

   micro avg       0.80      0.80      0.80       295
   macro avg       0.78      0.79      0.79       295
weighted avg       0.81      0.80      0.81       295

In [23]:
# creating the consfusion matrix  on the train set
print(confusion_matrix(test_y,test_predict))

[[158  24]
 [ 34  79]]

In [24]:
from sklearn import metrics
print(metrics.accuracy_score(test_y, test_predict))

0.8033898305084746